.header-icon {
	height: 22px;
}

.trip-cover-image {
	width: 100%;
}

#trip-info {
	margin: 5px 0px;
	display: grid;
	grid-template-rows: auto;
	gap: 5px;
}

#subtitle {
	font-size: 16px;
	font-weight: semibold;
	color: #6B6565;
}

#title {
	font-weight: bold;
}

#add-person-icon {
	height: 16px;
}

#day-select {
	padding: 5px;
}

#dates {
	width: 100%;
}

#actions {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
}
