html, body {
	background-color: grey;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
}

button, input, select {
/*	font-size: inherit;*/
  font-family: inherit;
}

.pill-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 50px;
  background-color: #639FAB;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pill-button-icon {
	height: 16px;
	margin-right: 5px;
}

.pill-dropdown {
	display: inline-block;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 50px;
/*  text-align: center;*/
}

#mobile-restrict-container {
	width: 393px;
	height: 852px;
	background-color: white;
	overflow: auto;
	position: relative;
}

#status-bar {
	position: sticky;
	top: 0px;
	background-color: darkgrey;
	text-align: center;
	width: 393px;
	height: 33px;
}

#top-bar {
	background-color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	text-align: center;
	align-items: center;
	height: 60px;
}

.top-bar-element {
	align-items: center;
}

.content {
	min-height: 100vh; /* roughly 852 - 33 - 60 - 82 - padding */
}

.center-control {
	display: flex;
	flex-direction: column;
	flex: 1;
  justify-content: center; /* horizontally center the inner content */
  align-items: center; /* vertically center the inner content */
}

.content-limit-center {
	width: 85%;
	margin: auto;
}

#bottom-bar {
	background-color: white;
	border-top: solid darkgrey 2px;
	position: sticky;
	bottom: 0px;
	height: 80px;
	display: flex;
	flex-direction: row;
	flex: 3;
	align-items: center;
	justify-content: space-evenly;
}

.bottom-bar-icon {
	width: 30px;
}

#top-bar-mid {
	font-weight: bold;
}

#next-button {
	font-size: 16px;
	font-weight: bold;
}

#create-grid {
	margin: auto;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 10px;
	grid-auto-rows: auto;
}

.title-grid-element {
	grid-column: 1;
}

.form-grid-element {
	grid-column: 2 / 4;
	border: none;
  border-bottom: 1px solid black;
}

#invite-button-container {
	grid-column: 1 / 4;
	justify-content: center;
  align-items: center;
}

#invite-button {
	width: 171px;
	height: 42px;
	font-size: 18px;
	font-weight: bold;
}