.header-icon {
	height: 22px;
}

.trip-cover-image {
	width: 100%;
}

.profile{
    position: absolute; left: 40px; top: 98px
}

.info-container{
    width: 240px; /* Adjust the width as needed */
    height: 90px; /* Set the same height as the width to make it a square */
    /* border: 2px solid #000; Optional border styling */
    margin-left: auto
}

.name{
   font-size: 18px; 
   color: #000;">
}

.account{
    font-size: 13px; 
    color: #717171;
}

.trip-complete{
    font-size: 16px; 
    color: #000;
}

.friends{
    font-size: 16px; 
    color: #000;
}

.main-container{
    margin-left: 40px;
    margin-top: 20px;
    width: 330px; /* Adjust the width as needed */
    height: 510px; /* Set the same height as the width to make it a square */
    /* border: 2px solid #000; */
    font-size: 16px
}

#search-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
#search-input {
    padding: 8px;
    width: 220px;
    border-radius: 15px;
}
#search-button {
    padding: 8px;
}

.trip-container-wrapper {
    display: flex;
}

.trip-container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Set the same height as the width to make it a square */
    /* border: 2px solid #000; */
    display: flex;
}
.trip-info-container{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px; /* Set the same height as the width to make it a square */
    /* border: 2px solid #000; */
    font-size: 14px
}
.going-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 30px; /* Adjust the height as needed */
    width: 200px;
    /* border: 2px solid #000; */
}

.going {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 12px;
}

hr {
    border: 1px solid #ccc;
    margin: 10px 0;
}