.header-icon {
    height: 22px;
}

.trip-cover-image {
    width: 100%;
}

.info-container {
    margin-left: 30px;
    margin-top: 80px;
    width: 330px;
    height: 300px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin: 20px;
}

input {
    padding: 14px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 250px;
    font-size: 16px;
}

#login-button {
    padding: 10px 47px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #1c5d99;
    color: white;
    border: 2px solid white;
}

/* Styles for back button */
.back-button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #1c5d99;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.back-button img {
    height: 22px;
}
